<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>gnuob-soap</display-name>
  <filter>
    <filter-name>simon-console-filter</filter-name>
    <filter-class>org.javasimon.console.SimonConsoleFilter</filter-class>
    <init-param>
      <param-name>url-prefix</param-name>
      <param-value>/console-servlet</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>simon-filter</filter-name>
    <filter-class>org.javasimon.javaee.SimonServletFilter</filter-class>
    <init-param>
      <param-name>prefix</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>stopwatch-source-props</param-name>
      <param-value>includeHttpMethodName=ALWAYS</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>simon-console-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>simon-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SimonConsoleServlet</servlet-name>
    <servlet-class>org.javasimon.console.SimonConsoleServlet</servlet-class>
    <init-param>
      <param-name>url-prefix</param-name>
      <param-value>/console-servlet</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimonConsoleServlet</servlet-name>
    <url-pattern>/console-servlet/*</url-pattern>
  </servlet-mapping>
</web-app>